*, *::after, *::before{
    box-sizing: border-box;
}

.spinner{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    animation: text-color 2s ease-in-out infinite;
}

.spinner-sector{
    width:100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 10px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
}

.spinner-sector-red{
    border-left-color: lightcoral;
    --duration: 1.5s;
    --timing: ease-in-out;
    
}

.spinner-sector-blue{
    border-right-color: lightblue;
    --duration: 1.4s;
    --timing: ease-in;
}

.spinner-sector-green{
    border-top-color: lightgreen;
    --duration: 1.3s;
    --timing: ease-out;
}

@keyframes rotate {
    0% {
         transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }

}

@keyframes text-color {
    0%, 100% {
        color: black ;
    }
    25%, 75% {
        color: black;
        opacity: .5;
    }
    50% {
        color: black;
        opacity: 1;
    }

}